In [1]:
import pandas as pd

In [9]:
house_dict = pd.read_pickle("/home/nate/ds/metis/class_work/projects/project_luther/code/den_raw_new.pkl")

In [12]:
len(house_df)

1172

In [11]:
house_df = pd.DataFrame.from_dict(house_dict, orient='index')

In [13]:
house_df = house_df.reset_index()

In [14]:
house_df.columns = ['full_address', 'home_price', 'beds', 'baths', 'house_sqft', \
                    'lot_sqft', 'year_built', 'garage_type', 'yearly_tax']

In [15]:
house_df.describe()

,home_price,beds,baths,house_sqft,lot_sqft,year_built,yearly_tax
count,1.172000e+03,1172.000000,1172.000000,1172.00000,1172.000000,1172.000000,1172.000000
mean,7.125892e+05,2.939420,2.751706,2329.40273,2618.914676,1714.197952,5282.598976
std,6.613876e+05,1.322052,1.262595,1523.96780,3264.073137,680.290238,5330.136462
min,5.000000e+04,0.000000,0.000000,120.00000,0.000000,0.000000,0.000000
25%,4.035250e+05,2.000000,2.000000,1363.00000,0.000000,1939.000000,1710.000000
50%,5.649495e+05,3.000000,2.500000,1972.50000,0.000000,1980.000000,4116.000000
75%,7.500000e+05,4.000000,3.500000,2824.50000,6070.000000,2017.000000,7236.000000
max,1.047500e+07,19.000000,9.000000,18696.00000,10800.000000,2019.000000,56112.000000

In [18]:
# dump after cleaning

house_df.to_pickle('/home/nate/ds/metis/class_work/projects/project_luther/data/den_clean.pkl')