In [1]:
import pandas as pd

In [6]:
house_dict = pd.read_pickle("/home/nate/ds/metis/class_work/projects/project_luther/code/den_raw.pkl")

In [7]:
house_df = pd.DataFrame.from_dict(house_dict, orient='index')

In [8]:
house_df = house_df.reset_index()

In [9]:
house_df.columns = ['full_address', 'home_price', 'beds', 'baths', 'house_sqft', \
                    'lot_sqft', 'year_built', 'garage_type', 'yearly_tax']

In [11]:
house_df.describe()

,home_price,beds,baths,house_sqft,lot_sqft,year_built,yearly_tax
count,7.400000e+02,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000
mean,6.460550e+05,2.964865,2.676351,2213.109459,2745.882432,1609.577027,5270.186486
std,5.040800e+05,1.279106,1.107995,1251.195214,3170.008667,775.430019,4987.375704
min,5.000000e+04,0.000000,0.000000,120.000000,0.000000,0.000000,0.000000
25%,3.999375e+05,2.000000,2.000000,1386.250000,0.000000,1911.000000,1812.000000
50%,5.395000e+05,3.000000,2.500000,1960.000000,0.000000,1967.500000,4464.000000
75%,6.999238e+05,4.000000,3.000000,2716.250000,6051.000000,2017.000000,7146.000000
max,6.500000e+06,19.000000,7.000000,17061.000000,10454.000000,2019.000000,51600.000000

In [12]:
lot0 = [x for x in house_df['year_built'] if x==0]

In [13]:
len(lot0)

139

In [23]:
# dump after cleaning

house_df.to_pickle('/home/nate/ds/metis/class_work/projects/project_luther/data/sea_clean.pkl')