In [2]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time
import os
import re
from selenium.webdriver.chrome.options import Options
import pandas as pd
import numpy as np
from geopy.distance import great_circle


chromedriver = "/home/nate/Bench/chromedriver"
os.environ["webdriver.chrome.driver"] = chromedriver

In [3]:
den_clean = pd.read_pickle('/home/nate/ds/metis/class_work/projects/project_luther/data/den_clean.pkl')

#den_cords = pd.read_pickle('/home/nate/ds/metis/class_work/projects/project_luther/data/den_cord.pkl')

In [166]:
den_clean = den_clean[den_clean.year_built != 0]

In [4]:
den_addresses = list(den_clean['full_address'])

In [5]:
len(den_addresses)

1012

In [6]:
len(den_cords)

227

In [245]:
den_addresses[338]

In [246]:
den_clean = den_clean.drop([338], axis=0)

In [247]:
den_clean = den_clean.reset_index()

In [248]:
den_clean = den_clean.drop(['index'], axis=1)

In [1]:
#den_cords

In [6]:
def lon_lat(df):

    #addresses = list(df['full_address'])
    addresses = df
    #lat_list = []
    #lon_list = []
    #data = []

    driver = webdriver.Chrome(chromedriver)
    driver.get('https://www.google.com/maps')
    time.sleep(1);

    i=0
    while i < len(addresses):
    
        location = driver.find_element_by_xpath('//*[@id="searchboxinput"]')

        location.click()
        time.sleep(1)

        location.send_keys(addresses[i])
        location = driver.find_element_by_xpath('//*[@id="searchbox-searchbutton"]')
        location.click()
        time.sleep(5)


        url = driver.current_url
        url = re.search(r'@(.*)data', url).group(0)
        url = url.replace('@', '').split(',')

        #lat_list.append(url[0])
        #lon_list.append(url[1])
        data.append(tuple([url[0], url[1]]))
        
        driver.find_element_by_xpath('//*[@id="searchboxinput"]').clear()
        
        i+=1
        
    driver.quit()
        
    return data

In [89]:
den_dex = den_addresses.copy()

den_dex = den_dex[747:]

In [95]:
data = []

data = lon_lat(den_dex)

AttributeError: 'NoneType' object has no attribute 'group'

In [86]:
len(data)

135

In [91]:
den_dex[0] = '1300 N Ogden St, Denver, CO 80218'

In [88]:
len(data_hold)

747

In [87]:
data_hold = data_hold + data

# address_hold = den_addresses.copy()

# dc_hold = den_clean.copy()

In [ ]:
import pickle

pickle_out = open("den_cord.pkl","wb")
pickle.dump(distros, pickle_out)
pickle_out.close()

In [193]:
address_hold = address_hold[:272]
data_hold[0]

('39.7512241', '-104.9788816')

In [182]:
dc_hold = dc_hold[0:272]
len(dc_hold)

272

In [22]:
dst_means = nn_test(den_cords, 42)
len(dst_means)

227

In [23]:
def nn_test(cord_list, num_nb):
    
    cords = cord_list
    x = num_nb
    
    dst_means = []
    
    for house in cords:
        
        dst = []
        
        for neighbor in cords:
            
            dst.append(great_circle(house, neighbor).miles)
            
        dst.sort()
        
        mean = dst[1:(x+2)]
        
        dst_means.append(sum(mean)/len(mean))
        
    return dst_means

In [26]:
def nearest_neighbors(df, cord_col, target_col, num_nb):
    
    '''
    input: dataframe, col name for coordinates, col name for target var, number of neighbors
    
    work: 
        finds the closest num_nb houses with great_circle
        takes the mean of target_col across those houses
    
    output: dataframe with 'target_col_nn' appended
    '''

    target_col = 
    
    
    
    for house in df[cord_col]:
        
        nearest_lst = []
    
        for neighbors in df[]
        
        
        
    
    
    lat_lst = list(df[lat])
    long_lst = list(df[long])
    combined = list(zip(lat_lst, long_lst))

    name_lst = list(df[name])
    bound = list(zip(name_lst, combined))

    distance_lst = []

    for index, name in enumerate(bound):
        for other in bound[index+1:]:
            distance = great_circle(name[1], other[1]).miles
            if distance < 0.15:
                distance_lst.append([name[0], other[0], distance])
                
    return distance_lst

In [3]:
# den_cord = pd.read_pickle('/home/nate/ds/metis/class_work/projects/project_luther/data/den_cord.pkl')
# sea_cord = pd.read_pickle('/home/nate/ds/metis/class_work/projects/project_luther/data/sea_clean.pkl')

In [5]:
#den_cord

In [10]:
#sea_dispensaries = []
den_dispensaries = []

In [7]:
# x = [47.7179246,-122.3436163]
# sea_dispensaries.append(tuple(x))

In [8]:
# sea_dispensaries

[(47.7179246, -122.3436163)]

In [183]:
driver = webdriver.Chrome(chromedriver)

In [184]:
driver.get('https://www.coloradopotguide.com/where-to-buy-marijuana/colorado/denver/')

In [83]:
# sea_dis_add = []

# for i in range(4,29):
#     for j in range(1,3):
#         sea_dis_add.append(driver.find_element_by_xpath(\
#             '//*[@id="CityStores"]/div[{}]/div[{}]/div[1]'.format(i,j)).text)

In [185]:
den_dis_add = []

for i in range(1,11):
    for j in range(1,3):
        den_dis_add.append(driver.find_element_by_xpath(\
            '//*[@id="CityStores"]/div[{}]/div[{}]/div[1]/div[1]/div'.format(i,j)).text)

for i in range(14,113):
    for j in range(1,3):
        den_dis_add.append(driver.find_element_by_xpath(\
            '//*[@id="CityStores"]/div[{}]/div[{}]/div[1]'.format(i,j)).text)

# //*[@id="CityStores"]/div[1]/div[1]/div[1]/div[1]/div
# //*[@id="CityStores"]/div[10]/div[2]/div[1]/div[1]/div
# //*[@id="CityStores"]/div[14]/div[1]/div[1]
# //*[@id="CityStores"]/div[112]/div[2]/div[1]

In [29]:
# sda = []
# for add in sea_dis_add:
#     add.split('\n')
#     #add = add[1] + ', ' + add[2]
#     sda.append(add)
# sda
# #sea_dis_add.split('\n')

SyntaxError: unexpected character after line continuation character (<ipython-input-29-cb19d2794a85>, line 3)

In [36]:
# x = sea_dis_add[0].split('\n')
# x

['A Greener Today Recreational',
 '5209 Martin Luther King Jr Way',
 'Seattle, WA 98118',
 'Phone: (206) 687-7877',
 'Website     Store Profile']

In [186]:
den_dis_add[0]

'4750 Nome St\nDenver, CO 80239\n(303) 373-0752'

In [187]:
dda = []
i = 0
while i < len(den_dis_add):
    store = den_dis_add[i].split('\n')
    store = store[0]+', '+store[1]
    dda.append(store)
    i+=1
dda[0]

'4750 Nome St, Denver, CO 80239'

In [188]:
dda.append('7289 E Hampden Ave, Denver, CO 80224')
dda.append('2251 S Broadway,Denver, CO 80210')
dda.append('1881 S Broadway, Denver, CO 80210')

In [190]:
distros = []

distros = lon_lat(dda)

In [191]:
def distance(list1, list2):

    
    min_dist = []

    for house in list1:
        
        dist_list = []
        
        for store in list2:
            dist = great_circle(house, store).miles
            dist_list.append(dist)
        
        min_dist.append(min(dist_list))
                
    return min_dist

In [313]:
min_dist = distance(data_hold, distros)
len(min_dist)

1012

In [314]:
den_clean['min_dist'] = min_dist

In [315]:
den_clean.to_pickle('/home/nate/ds/metis/class_work/projects/project_luther/data/den_clean.pkl')

In [214]:
len(min_dist)

272

In [316]:
den_clean.head(5)

,full_address,home_price,beds,baths,house_sqft,lot_sqft,year_built,garage_type,yearly_tax,min_dist
0,"2322 Clarkson St, Denver, CO 80205",859000.0,3.0,4.0,3183.0,3125.0,1898.0,none,2292.0,0.239751
1,"19472 E 59th Pl, Aurora, CO 80019",329900.0,2.0,3.0,1668.0,5700.0,2001.0,none,2412.0,1.510783
2,"8552 E 49th Pl, Denver, CO 80238",600000.0,4.0,4.0,2854.0,3296.0,2013.0,none,4464.0,1.311372
3,"1750 S Tennyson St, Denver, CO 80219",339900.0,3.0,2.0,2152.0,9740.0,1955.0,none,1668.0,0.689434
4,"1000 S Jackson St, Denver, CO 80209",925000.0,4.0,3.0,3012.0,6250.0,1954.0,none,4428.0,0.775793

In [207]:
address_hold[0]

'2322 Clarkson St, Denver, CO 80205'

In [211]:
distros = distros[272:]

In [212]:
len(distros)

221